[*.cs]

#custom 
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false:suggestion

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = suggestion

# IDE2000: Avoid multiple blank lines
dotnet_diagnostic.IDE2000.severity = suggestion

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = always

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = suggestion

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = warning
